*.bak
*.lock
src/Soundex-main/.classpath
src/Soundex-main/.project
src/Soundex-main/deployment/
src/Soundex-main/.mendix-cache/
src/Soundex-main/.svn/
src/Soundex-main/javasource/administration/
src/Soundex-main/javasource/soundex/proxies/
src/Soundex-main/javasource/system/
src/Soundex-main/javasource/soundex_unittesting/proxies/
GPUCache
.DS_Store
.vscode